html, body {
    padding: 0;
    margin: 0;
}

.axis line, .axis path {
    fill: none;
    stroke: #eee;
    shape-rendering: crispEdges;
}

.axis text {
    font-size: 11px;
}

.bar {
    fill: steelblue;
}